body{
    background-image: url('w1.webp');
    background-size: 80% auto;
}
h1{
    background-color: #d1b31c80;
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 7px white;
    
}
#bt{
    width: 300px;
    margin: auto;
}
#msg{
    
}
footer{
    text-align: center;
    margin: 30px;

}